block form_begin
	div(class="form__block")
		h3.form__heading
			span.form__p-number 1
			|Billing address
		div.form__field
			label.form__label(for="fullname") full name
			input.form__input(type="text" id="fullname" required)
		div.form__field
			label.form__label(for="address1") address 1
			input.form__input(type="text" id="address1" required)
		div.form__field
			label.form__label(for="address2") address 2
			input.form__input(type="text" id="address2" required)